<h1>EDIT</h1>
          
<br>
  <%= form_for @list, url: user_list_path(@list.user, @list), method: "patch" do |f| %> 
  <br><%= f.label "Top Five Greatest:" %>
  <%= f.text_field :title %><br>
  <%= f.hidden_field :user_id, value: @user.id %>
  <br><%= f.label "#1" %>
  <%= f.text_field :number1 %>
  <br><%= f.label "#2" %>
  <%= f.text_field :number2 %>
  <br><%= f.label "#3" %>
  <%= f.text_field :number3 %>
  <br><%= f.label "#4" %>
  <%= f.text_field :number4 %>
  <br><%= f.label "#5" %>
  <%= f.text_field :number5 %>
<br>
<br>

 <%= f.fields_for :list_topics, @list2.list_topics.new do |ff| %>
  <%= ff.label "Edit Topic:"  %><br>
  <%= ff.collection_select(:topic_id, @all_topics, :id, :name, {:selected => @list.topic_ids}, {multiple: true}) %>
 <% end %>

 <%= f.submit %>
<% end %>


