<h1>EDIT</h1>
          
<br>
  <%= form_for @list, url: user_list_path(@list), method: "patch" do |f| %>  
  <%= f.label :subject %>
  <%= f.text_field :subject %>
<br>
<br>

 <%= f.fields_for :topics do |ff| %>
  <%= ff.label "Choose a Topic:"  %><br>
  <%= ff.collection_select(:id, @all_topics, :id, :name, {}, {multiple: true}) %>
 <% end %>

 <%= f.submit %>
<% end %>