<div class="container text-center">
  <div class="row">
    <div class="col-lg-4">
       <h3>Highest Rated Lists</h3>
      <% @highest.each do |list| %>
      <li><%= link_to list.title, list_path(list) %> <% if list.average_rating && list.average_rating > 0 %><br>Average Rating: <%= list.average_rating %><% end %>
      <% end %>
    </div>
    <div class="col-lg-4">
        <h3>Most Recent Top 5 Lists</h3>
      <% @recent.each do |list| %>
      <li style="font-size: 150%"><%= link_to list.title, list_path(list) %>
      <% end %>
    </div>
    <div class="col-lg-4">
          <% if @found %>
      <h3>Found Lists</h3>
      <% @found.each do |list| %>
    <li><%= link_to list.title, list_path(list) %></li>
  <% end %>
  <% end %>

    <h3>Search Lists By Topic</h3>
      <%= form_for @submit, url: lists_path do |f| %>
      <%= f.collection_select(:topic_id, @all_topics, :id, :name, {}, {multiple: true}) %>
      <%= f.submit "Search Lists By Topic" %>
    <% end %>
    </div>
  </div>
</div>
</div>



