<% if current_user %>
  <header id="header" class="header">  
        <div class="container">            
            <h1 class="logo pull-left">
                <a class="scrollto" href="/lists">
                    <span class="logo-title">Top5</span>
                </a>
            </h1><!--//logo-->              
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->       


                <div class="navbar-collapse collapse" id="navbar-collapse">
                  <div id="nr">
                    <ul class="nav navbar-nav">
                <li class="nav-item"><%= active_link_to "Profile", user_path(current_user) %></li>
                <li class="nav-item"><%= active_link_to "Lists", lists_path, active: [['lists'], ['index']] %></li>
                <li class="nav-item"><%= active_link_to "Add List", new_list_path, active: [['lists'], ['new']] %></li>
              <li class="nav-item"><%= active_link_to "Log Out", destroy_user_session_path, :method=>:delete %></li>
                    </ul><!--//nav-->
                </div>
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div>
    </header><!--//header-->
<% else %>

  <header id="header" class="header">  
        <div class="container">            
            <h1 class="logo pull-left">
                <a class="scrollto" href="/">
                    <span class="logo-title">Top5</span>
                </a>
            </h1><!--//logo-->              
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->       


                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <div id="nr">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><%= active_link_to "Lists", lists_path, active: [['lists'], ['index']] %></li>
                        <li class="nav-item"><%= active_link_to "Sign Up", new_user_registration_path, active: /\bsign_up/ %></li>
                        <li class="nav-item"><%= active_link_to "Login", new_user_session_path, active: /\bsign_in/ %></li>
                    </ul><!--//nav-->
                </div>
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div>
    </header><!--//header-->

<% end %>              
