<!DOCTYPE html>
<html>
  <head>
    <title>Top5</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body data-spy="scroll">
    <div id="fb-root"></div>
      
      <header id="header" class="header">  
        <div class="container">            
            <h1 class="logo pull-left">
                <a class="scrollto" href="/lists">
                  <span class="logo-title">Top5</span>
                </a>
            </h1><!--//logo-->              
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->       
                <div class="navbar-collapse collapse" id="navbar-collapse">
                  <div id="nr">
                    <ul class="nav navbar-nav">
                        <% if current_user %>
                          <%= render partial: "layouts/logged_in" %>
                        <% else %>
                          <%= render partial: "layouts/notsignedin" %>
                        <% end %>
                    </ul><!--//nav-->
                </div>
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div>
    </header><!--//header-->
        <div class="container">
          <div>
            <br>
            <br>
            <br>
          </div>  
          <%= yield %>
  </body>
</html>